.petProfileTile {
    margin-bottom: 20px;
}
.caption{
    text-align: center;
}

nav {
    margin-bottom: 30px;
}

.caption h4 {
    margin-top: 5px;
}

.petProfileTile .thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail img {
    object-fit: cover;
    max-width: 100%;
    height: 200px;
}